<h1>全コメント一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>ステータス</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @post_comments.each do |post_comment| %>
    <tr>
      <td><%= post_comment.user.name %></td>
      <td>
        <span>
          <%= post_comment.user.active_status %>
        </span>
      </td>
      <td><%= post_comment.comment %></td>
      <td><%= link_to "削除",  admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: "本当に削除しますか？" } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>