<h1>全ユーザー一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>ステータス</th>
      <th>処理</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name}", admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_active %>
            <span>入会</span>
          <% else %>
            <span>退会</span>
          <% end %>
        </td>
        <td>
          <% if user.is_active %>
            <%= link_to "退会させる", admin_user_path(user), method: :delete, data: { confirm: "本当に退会させますか？" }, class: "btn btn-info" %>
          <% else %>
            <%= link_to "有効に戻す", reactivate_admin_user_path(user), method: :patch, data: { confirm: "本当に有効にしますか？" }, class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>