<h2>プロフィール編集</h2>
<%= form_with model: @user do |f| %>
  <div>自己紹介文を記載してください。</div>
  <%= f.text_area :comment, autofocus: true %>
  <%= f.submit "変更を保存" %>
  <br/>

  退会希望の場合は、退会ボタンを押してください。<br/>
  <%= link_to "退会", user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger btn-sm" %>
<% end %>
